.message-card {
  display: flex;
  align-items: center;
  background-color: #f9f9f9;
  border-radius: 16px;
  padding: 16px;
  margin-bottom: 12px;
  position: relative;
}

.icon {
  margin-right: 12px;
}

.message-content {
  flex: 1;
}

.check {
  margin-left: 12px;  /* 기존보다 조금 줄임 */
  transform: translateX(-8px); /* ← 왼쪽으로 이동 */
}

.bold {
  font-weight: 600;
  margin-bottom: 4px;
}

.gray {
  color: #777;
  font-size: 14px;
  margin-bottom: 4px;
}

.date {
  font-size: 13px;
  color: #999;
}

.send-btn {
  position: fixed;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
  width: 90%;
  max-width: 400px;
  padding: 14px 0;
  background-color: #151ea1;
  color: white;
  font-weight: bold;
  font-size: 16px;
  border: none;
  border-radius: 12px;
  cursor: pointer;
}

.message-header {
  font-size: 18px;
  font-weight: bold;
  padding: 16px;
  text-align: center;
  border-bottom: 1px solid #ddd;
}
